<div class='homePage' >
<h1 class='homePageHeading'>PocketPal</h1>
<div class="homePageButtonBox">
      <%= link_to "LOG IN", new_user_session_path, class:'homePageButtonBlue' %>
      <%= link_to "SIGN UP", new_user_registration_path, class:'homePageButtonWhite' %>
    </div>
</div>