<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <div>
    <strong>Icon:</strong>
  <img class='category-img' src="<%= category.icon %>" alt="Classification image" />
  </div>

</div>
